body, html {
    background-color: #252727;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 350px;
    height: auto;
    border: 2px solid;
    border-color: #454646;
    padding: 20px;
}

button {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-color: #454646;
    background-color: #58A4B0;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
}

button:hover {
    border-color: white;
    opacity: 80%;
}